[Unit]
Description=House light service
After=network.target

[Service]
WorkingDirectory=/home/chip/house
ExecStart=/home/chip/house/rel/house/bin/house foreground
Restart=on-abort
EnvironmentFile=/home/chip/house/home.env
User=root

[Install]
WantedBy=multi-user.target
