/* This file is for your main application css. */

body {
  margin-top: 20px;
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(white, PapayaWhip); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, PapayaWhip); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, PapayaWhip); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, PapayaWhip); /* Standard syntax */
  display: table;
  height: calc(100vh);
  width: calc(100vw);
}

.align-center {
  position: relative;
  margin: auto;
  left: 50%;
  margin-left: -78px;
  padding-top: 20px;
  padding-bottom: 20px;
}
