<img class="align-center" src="images/icon-transparent.png" />

<div id="page-frame" />

<script>
  window.pageConfig = {
    onLoad: function(callback) {
      callback({
        room: <%= {:safe, inspect hd(@room_names)} %>,
        potentialRooms: <%= {:safe, inspect tl(@room_names)} %>,
        mode: <%= {:safe, inspect to_string(House.Mode.get())} %>,
        roomSensors: <%= {:safe, @room_data} %>
      });
    }
  };
</script>
